<div class="list row">
    <div class="col-md-8">
    </div>
    <div class="col-md-6">
      <h4>Liste des marques</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let marque of marques; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveMarque(marque, i)"
        >
          {{ marque.nom }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentMarque.id">
        <h4>Marque</h4>
        <div>
          <label><strong>Nom :</strong></label> {{ currentMarque.nom }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentMarque.description }}
        </div>
  
        <a class="badge badge-warning" routerLink="/marques/{{ currentMarque.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentMarque">
        <br />
        <p>Cliquez sur une marque</p>
      </div>
    </div>
  </div>