<div class="list row">
    <div class="col-md-8">
    </div>
    <div class="col-md-6">
      <h4>Liste des marques</h4>


      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Opération</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let marque of marques; let i = index">
            <th scope="row">{{ marque.id }}</th>
            <td>{{ marque.nom }}</td>
            <td>{{ marque.description }}</td>
            <td><a class="badge badge-warning" routerLink="/marques/{{ marque.id }}">
              Edit
            </a>
            <button class="badge badge-danger mr-2" (click)="deleteMarque(marque.id)">
              Supprimer
            </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>